ACCESS_SECRET=dklsdlsks
CLOUDINARY_API_KEY=xxx
CLOUDINARY_API_SECRET=xxx
CLOUDINARY_CLOUD_NAME=xx
DATABASE_URL="mysql://dekhoexam_db:xxxx&vfY@localhost:3306/dekhoexam_db"
HEALTH_CHECK_URL=https://api.dekhoexam.com/health
NODE_ENV=production
OTP_VERIFY_SECRET=xxx
PORT=8080

RAZORPAY_KEY_ID=xxxx
RAZORPAY_KEY_SECRET=xxx
RAZORPAY_WEBHOOK_SECRET=xxx

REFRESH_SECRET=slkfwekjfwiejfi

SMS_API_KEY=xxxxx
SMS_SENDER_ID=DExxxKHOE
SMS_TEMPLATE_ID=xxxxxx
SMS_BASE_URL=http://xxxxx

DB_NAME=dekhoexam_db
DB_PASSWORD=axxxxxx
DB_USER=dekhoexam_db
DB_HOST=localhost